[package]
name = "obs-livesplit-one"
version = "0.1.0"
authors = ["Christopher Serr <christopher.serr@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
members = ["obs"]

[lib]
crate-type = ["cdylib"]

[dependencies]
livesplit-core = { git = "https://github.com/LiveSplit/livesplit-core", features = ["software-rendering"] }
once_cell = "1.5.2"

[features]
default = ["font-loading"]
font-loading = ["livesplit-core/font-loading"]

[profile.release]
lto = true
panic = "abort"
